.btn-outline-info {
    color: white;
    border-color: #17a2b8;
    border-radius: 10px;
    background-color: #325359;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}
h2.custom-title{
    color: white;
}
.custom-p{
    color: white;
}
button.btn-custom {
    margin-top: 1rem;
    align-content: end;
    margin-left: 9rem;
}
select.custom-select-option{
    word-wrap: normal;
    width: 100%;
    padding: 12px 18px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;


    background-image:
            linear-gradient(45deg, transparent 50%, blue 50%),
            linear-gradient(135deg, blue 50%, transparent 50%),
            linear-gradient(to right, white, white);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            100% 0;
    background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
    background-repeat: no-repeat;
}
p.education-custom{
    font-family: serif;
    color: #4f83c3;
}
hr.custom-hr{
    margin: 2px 0 15px 0;
    background-color: #ededed !important;
    opacity: 1;
}
header.fixed-top-custom{
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #1b5660;
    position: fixed;
    /* padding-bottom: 10px; */
}
custom-middle{
    padding: 3rem;
    margin-left: 280px;
    position: relative;
}
.custom-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 200px;
    margin-bottom: 410px;
}
header.a.navbar-brand-custom{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.concern_content {
    padding: 30px 40px;
    box-shadow: 2px 3px 10px rgb(185 185 190);
    background-color: #ebedf0;
    border-radius: 15px;
}
.brand-logo {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: 900;
    color: #ffffff;
    font-family: sans-serif;
}
.brand-logo span {
    color: #2caee2;
}
.custom-row-1{
    display: flex;
}
.custom-column-1{
    margin-left: 30px;
    margin-right: 550px;
}
.custom-column-2{
    background-color: #ebedf0;
    text-align: center;
}
.custom-h3{
    margin-bottom: 5px;
    margin-left: 70px;
    margin-right: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #ffffff;
    text-align: center;
    background-color: #05282e;
    border-radius: .5rem;
    font-family: sans-serif;
}

.custom-forgot-password{
    padding: 1rem;
    background-color: #a19d9d;
    border-color: #a19d9d;
}

.btn.custom-btn{
    color: #fff;
    background-color: #e22424;
    border-color: #F42A2A;
    border-radius: .5rem;
    width: 100px;
    margin-top: 20px;
}
.custom-h2{
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: serif;
}
.custom-h5{
    color: #e7ca90;
    font-family: fangsong;
}