<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Find easily a doctor and book online an appointment">
  <meta name="author" content="Ansonika">
  <title>FINDOCTOR - Find easily a doctor and book online an appointment</title>

  <!-- Favicons-->
  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="assets/img/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144-precomposed.png">

  <!-- GOOGLE WEB FONT -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

  <!-- BASE CSS -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/menu.css" rel="stylesheet">
  <link href="assets/css/vendors.css" rel="stylesheet">
  <link href="assets/css/all_icons_min.css" rel="stylesheet">

  <!-- SPECIFIC CSS -->
  <link href="assets/css/blog.css" rel="stylesheet">

  <!-- YOUR CUSTOM CSS -->
  <link href="assets/css/custom.css" rel="stylesheet">
  <link href="assets/css/custom2.css" rel="stylesheet">
  <link href="assets/css/style-starter.css" rel="stylesheet">

</head>

<body>

<!--<div id="preloader" class="Fixed">-->
<!--  <div data-loader="circle-side"></div>-->
<!--</div>-->
<!--header-->
<header id="site-header" class="header-w3l fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg stroke">
      <a class="brand-logo" href="#">
        M<span class="sub-logo">i</span>ndA<span class="sub-logo">i</span>d
      </a>

      <!-- if logo is image enable this -->
      <!-- <a class="navbar-brand" href="#home.html">
          <img src="assets/images/MindAid.png" alt="Your logo" title="Your logo" style="height:70px;" />
      </a>  -->
      <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mx-lg-auto">
          <li class="nav-item active">
            <a class="nav-link" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="search-bar ml-lg-3 mr-lg-5 mt-lg-0 mt-4">
            <!--/search-right-->
            <form class="search position-relative">
              <input type="search" class="search__input" name="search" placeholder="Search here.."
                     onload="equalWidth()" required="">
              <span class="fa fa-search search__icon"></span>
            </form>

            <!--//search-right-->
          </li>

        </ul>

      </div>
      <!-- toggle switch for light and dark theme -->
      <div class="mobile-position">
        <nav class="navigation">
          <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox">
              <div class="mode-container">
                <i class="gg-sun"></i>
                <i class="gg-moon"></i>
              </div>
            </label>
          </div>
        </nav>
      </div>
      <!-- //toggle switch for light and dark theme -->
    </nav>
  </div>
</header>
</div>
<!-- //header -->

  <main>
    <div class="container margin_60">
      <div class="row">


        <div class="col-lg-9" id="faq">
          <h4>Frequently asked Questions</h4>
          <div role="tablist" class="add_bottom_45 accordion" id="payment">
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a data-bs-toggle="collapse" href="#collapseOne_payment" aria-expanded="true"><i class="indicator icon_minus_alt2"></i>Introdocution</a>
                </h5>
              </div>

              <div id="collapseOne_payment" class="collapse show" role="tabpanel" data-bs-parent="#payment">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseTwo_payment" aria-expanded="false">
                    <i class="indicator icon_plus_alt2"></i>Generative Modeling Review
                  </a>
                </h5>
              </div>
              <div id="collapseTwo_payment" class="collapse" role="tabpanel" data-bs-parent="#payment">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseThree_payment" aria-expanded="false">
                    <i class="indicator icon_plus_alt2"></i>Variational Autoencoders
                  </a>
                </h5>
              </div>
              <div id="collapseThree_payment" class="collapse" role="tabpanel" data-bs-parent="#payment">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
          </div>
          <!-- /accordion payment -->

          <h4 class="nomargin_top">Suggestions</h4>
          <div role="tablist" class="add_bottom_45 accordion" id="tips">
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a data-bs-toggle="collapse" href="#collapseOne_tips" aria-expanded="true"><i class="indicator icon_plus_alt2"></i>Introdocution</a>
                </h5>
              </div>

              <div id="collapseOne_tips" class="collapse" role="tabpanel" data-bs-parent="#tips">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseTwo_tips" aria-expanded="false">
                    <i class="indicator icon_plus_alt2"></i>Generative Modeling Review
                  </a>
                </h5>
              </div>
              <div id="collapseTwo_tips" class="collapse" role="tabpanel" data-bs-parent="#tips">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseThree_tips" aria-expanded="false">
                    <i class="indicator icon_plus_alt2"></i>Variational Autoencoders
                  </a>
                </h5>
              </div>
              <div id="collapseThree_tips" class="collapse" role="tabpanel" data-bs-parent="#tips">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
          </div>
          <!-- /accordion suggestions -->

          <h4 class="nomargin_top">Reccomendations</h4>
          <div role="tablist" class="add_bottom_45 accordion" id="reccomendations">
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a data-bs-toggle="collapse" href="#collapseOne_reccomendations" aria-expanded="true"><i class="indicator icon_plus_alt2"></i>Introdocution</a>
                </h5>
              </div>

              <div id="collapseOne_reccomendations" class="collapse" role="tabpanel" data-bs-parent="#reccomendations">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseTwo_reccomendations" aria-expanded="false">
                    <i class="indicator icon_plus_alt2"></i>Generative Modeling Review
                  </a>
                </h5>
              </div>
              <div id="collapseTwo_reccomendations" class="collapse" role="tabpanel" data-bs-parent="#reccomendations">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseThree_reccomendations" aria-expanded="false">
                    <i class="indicator icon_plus_alt2"></i>Variational Autoencoders
                  </a>
                </h5>
              </div>
              <div id="collapseThree_reccomendations" class="collapse" role="tabpanel" data-bs-parent="#reccomendations">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
          </div>
          <!-- /accordion Reccomendations -->

          <h4 class="nomargin_top">Terms&amp;conditons</h4>
          <div role="tablist" class="add_bottom_45 accordion" id="terms">
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a data-bs-toggle="collapse" href="#collapseOne_terms" aria-expanded="true"><i class="indicator icon_plus_alt2"></i>Introdocution</a>
                </h5>
              </div>

              <div id="collapseOne_terms" class="collapse" role="tabpanel" data-bs-parent="#terms">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseTwo_terms" aria-expanded="false">
                    <i class="indicator icon_plus_alt2"></i>Generative Modeling Review
                  </a>
                </h5>
              </div>
              <div id="collapseTwo_terms" class="collapse" role="tabpanel" data-bs-parent="#terms">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseThree_terms" aria-expanded="false">
                    <i class="indicator icon_plus_alt2"></i>Variational Autoencoders
                  </a>
                </h5>
              </div>
              <div id="collapseThree_terms" class="collapse" role="tabpanel" data-bs-parent="#terms">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
          </div>
          <!-- /accordion Terms -->

          <h4 class="nomargin_top">Booking</h4>
          <div role="tablist" class="add_bottom_45 accordion" id="booking">
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a data-bs-toggle="collapse" href="#collapseOne_booking" aria-expanded="true"><i class="indicator icon_plus_alt2"></i>Introdocution</a>
                </h5>
              </div>

              <div id="collapseOne_booking" class="collapse" role="tabpanel" data-bs-parent="#booking">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseTwo_booking" aria-expanded="false">
                    <i class="indicator icon_plus_alt2"></i>Generative Modeling Review
                  </a>
                </h5>
              </div>
              <div id="collapseTwo_booking" class="collapse" role="tabpanel" data-bs-parent="#booking">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
            <div class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseThree_booking" aria-expanded="false">
                    <i class="indicator icon_plus_alt2"></i>Variational Autoencoders
                  </a>
                </h5>
              </div>
              <div id="collapseThree_booking" class="collapse" role="tabpanel" data-bs-parent="#booking">
                <div class="card-body">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
            <!-- /card -->
          </div>
          <!-- /accordion Booking -->

        </div>
        <!-- /col -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </main>
  <!-- /main -->

<!--0 -->
</div>
<!-- page -->

<div id="toTop"></div>
<!-- Back to top button -->

<!-- COMMON SCRIPTS -->
<script src="asstes/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/common_scripts.min.js"></script>
<script src="assets/js/functions.js"></script>

</body>
</html>